@import url(reset.css);
@import url(common.css);

.container{
    display: flex;
    justify-content: center;
}

.wrap{
    max-width:  450px;
    width: 100%;
}

header{
    height: 60px;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}